.he-author-right ul li svg {
    display: block;
    padding: 7px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.he-instagram svg {
    background: #ff3b69;
}

.he-facebook svg {
    background: #181d91;
}

.he-youtube svg {
    background: #DACC41;
}

.he-twitter svg {
    background: #55aaad;
}

.he-telegram svg {
    background: #7c48b0;
}

.he-link svg {
    background: #464646;
}

.he-author-right svg path {
    fill: #fff;
}

.he-author-left img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: 60px;
    position: relative;
}

.abt-the-author {

    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-align: right;
    display: block;
    text-transform: uppercase;
    padding-right: 10px;
}

.he-author-wrap {
    display: flex;
    align-items: center;
    width: 95%;
}

.he-author-heading {
    color: #ff3b69 !important;
    font-family: "California Palms";
    font-size: 53px;
    font-weight: 100;
}

.he-author-description {
    color: #000000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0px;
}

.he-author-left {
    flex-basis: 30%;
}

.he-author-right {
    flex-basis: 70%;
    background: #FDE9ED;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 50px 30px 70px;
}

.he-author-right ul span {
    display: none;
}

.he-author-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

@media(max-width:480px) {
    .he-author-right {
        padding: 90px 20px 30px 20px !important;
        text-align: center !important;
    }

    .he-author-left {
        margin-bottom: -70px !important;
    }

    .he-author-wrap {
        width: 100% !important;
        flex-direction: column !important;
    }

    .he-author-left img {
        margin-left: 0px !important;
    }

    .abt-the-author {
        font-size: 12px !important;
        text-align: center !important;
        padding-right: 0 !important;
    }
}